.all-wrap {
    width: 100%;
    height: 100vh;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .file-wrap {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .file-wrap {
        height: 100%;
        flex-direction: column;
    }
}