.all-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#f6f7fb;
}

.all-wrapper .step-wrapper {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.all-wrapper .step-wrapper div {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 4px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: all 1s ease-in-out;
}

.all-wrapper .step-wrapper div::before {
    content: '';
    width: 84px;
    height: 4px;
    background-color:#ddd;
    position: absolute;
    top: 15px;
    right: 33px;
    overflow: hidden;
    transition: all 1s linear;
}

.all-wrapper .step-wrapper div:nth-child(1)::before {
    display: none;
}

.all-wrapper .step-wrapper .active {
    border-color: rgb(59, 162, 231);
}

.all-wrapper .step-wrapper .active::before {
    background-color: rgb(59, 162, 231);
}

.all-wrapper .button-wrapper {
    width: 250px;
    height: 50px;
    margin-top: 20px;
}

.all-wrapper .button-wrapper button {
    width: 100px;
    height: 35px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    background-color: rgb(59, 162, 231);
    border: none;
    border-radius: 5px;
}

.all-wrapper .button-wrapper button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

@keyframes progress {
    from {
        width: 0;
    };
    to {
        width: 100%;
    }
}