.hoverboard-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
    .hoverboard-inner {
        .hoverboard-row {
            display: flex;
            flex-wrap: wrap;
            .hoverboard-cell {
                width: 15px;
                height: 15px;
                margin: 2px;
                background-color: #1D1D1D;
            }
        }
    }    
}