.content-wrapper {
    width: 350px;
    height: 200px;
    line-height: 200px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    font-size: 30px;
}
