.card {
    --scale: 1.1;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    overflow: hidden;
    transition: all .5s;
    transition-delay: .5s;
    &:hover {
        transform: scale(var(--scale));
    }

    .button {
        position: absolute;
        left: calc(50% - 100px);
        top: 50%;
        width: 200px;
        height: 70px;
        &:hover {
            transform: scale(0.9);
            background-color:red;
        }
        button {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid #fff;
            cursor: pointer;
            &:hover {
                background-color:red;
            }
        }

    }
}

