div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    button {
        position: relative;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: purple;
        overflow: hidden;
    }
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: .5);
}