.container {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    .event-wrapper {
        display: flex;
        
    }
}